*{margin:0;padding:0;}
body{
	font-size:14px;
	font-family:arial,helvetica,verdana,sans-serif;
}
h1{
	padding:20px;
	font-size:1.2em;
}
.internet{
	max-width:620px;
	padding:10px;
	overflow:hidden;
}
.fatura{
	float:right;
}
.tabela{
	max-width:100%;

	clear:both;
}
.tabela table{
	text-align:center;
	margin:50px auto;
	width:100%;
}
.tabela *{
	border-collapse:collapse;
}
.tabela table th{
	background:#ccc;
	padding:5px;
	color:#464646;
	border:1px solid grey;
}
.tabela table td{
	background:;
	padding:5px;
	border: 1px solid grey;
}
#nenshkrimi{
	float:left;
	margin-top:40px;
	margin-bottom:20px;
}
#totali{
	margin-top:30px;
	float:right;
	font-weight:bold;
}
#verejtje{
	border: 1px solid grey; 
	padding:5px;
	margin-top:30px;
	text-align:center;
	clear:both;
}
