*{
	padding:0;
	margin:0;
	outline:none;
}
body{
	font-family:arial,helvetica,verdana,sans-serif;
	font-size:14px;
}
img{
	border:none;
}
#wrapper{
	width:1080px;
	margin:0 auto;
}
#logo{
	width:200px;
	float:left;
	padding:10px;
}
#header{
	height:70px;
	width:1080px;
	position:fixed;
	box-shadow:0 5px 35px #000;
	border-radius: 10px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border-bottom-left-radius:0px;
	background:url("../img/menu2bg.jpg") repeat-x;
	top:0;
	z-index:1;
}
#header ul{
	list-style: none;
	letter-spacing: 2px;
	font-size:0.9em;
	margin-left: 237px;
}
#header ul li{
	float:left;
	height:70px;
}
#header ul li a{
	text-decoration:none;
	color:#7f7f7f;
	display:block;
	line-height:4;
	text-align:center;
	padding:0 15px;
	height:70px;
	transition:background 2s;
	-moz-transition:background 2s; /* Firefox 4 */
	-webkit-transition:background 2s;/*  Safari and Chrome */
	-o-transition:background 2s; /* Opera */
	transition:box-shadow 1s;
	-moz-transition:box-shadow 1s; /* Firefox 4 */
	-webkit-transition:box-shadow 1s;/*  Safari and Chrome */
	-o-transition:box-shadow 1s; /* Opera */
}
#header ul li a:hover{
	box-shadow: 0 0 15px grey;
	background:#D8D8D8 ;
}
#qkyqu{
	width:100px;
	height:auto;
	float:right;
	text-align:center;
}
#qkyqu a{
	transition:color 1s;
	-moz-transition:color 1s; /* Firefox 4 */
	-webkit-transition:color 1s;/*  Safari and Chrome */
	-o-transition:color 1s; /* Opera */
	border-bottom-right-radius:10px;
	text-decoration:none;
	color:#f8f8f8;
	font-size:1.2em;
	font-weight:bold;
	line-height:4;
	display:block;
	width:100%;
	height:70px;
	background:url("../img/kyqu_bg.jpg") repeat-x;
}
#qkyqu a:hover{
	color:orange;
}
#main-container{
	clear:both;
	width:100%;
	min-height:800px;
	position:relative;
	top:90px;
	z-index:0;
}
#main-container #sidebar{
	float:left;
	width:260px;
	height:800px;
	overflow:auto;
	background:#eee;
	box-shadow:0 0 15px #464646;
	border-radius:10px;
}
#main-container #content{
	float:right;
	width:1080px;
	min-height:800px;
	overflow:auto;
	background:#eee;
	box-shadow:0 0 15px #464646;
	border-radius:10px;	
}
#search-box{
	position:fixed;
	background:#464646;
	width:300px;
	min-height:20px;
	z-index:1;
	top:70px;
	text-align:center;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	box-shadow:2px 3px 15px #000;
}
#search-box form{
	margin: 10px 0 18px 17px;
}
#search-box form input[type="image"]{
	margin-bottom:-5px;
	margin-left:-5px;
	float:left;
}
#search-box form input[type="text"]{
	border:1px solid #464646;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	height:18px;
	color:#464646;
	float:left;
}
#kerkoDaten{
	position: fixed;
	top: 89px;
	left: 50%;
	color: #f8f8f8;
	z-index: 1;
	min-height: 45px;
	min-width: 410px;
	border-radius:10px;
	box-shadow:0 0 10px #000;
	background: #464646;
	font-size:0.8em;
	font-weight:bold;
	text-align:center;
}
#kerkoDaten form{
	margin-top:10px;
}
#kerkoDaten form input[type="text"]{
	width:120px;
}
#kerkoDaten form input, label{
	float:left;
	margin-left:10px;
	margin-right:10px;
}
#submitButton{
	width:50px; 
	height:25px;
	float:right;
}
table{
	font-size:0.8em;
	margin:50px auto;
	color:#404040;
	box-shadow:0 0 15px #464646;
	width:1000px;
	clear:both;
}
table tr:nth-child(odd){
	background:#C0C0C0;
}
th{
	background:#464646;
	color:#f8f8f8;
}
table, tr, th, td{
	border:1px solid grey;
	border-collapse:collapse;
	text-align:center;
	padding:2px;
}
.pagination{
	margin:0 300px;
	text-align:center;
}
.pagination ul{

	list-style:none;
}
.pagination ul li{
	float:left;
}
.pagination ul li a{
	display:block;
	background:#464646;
	padding:5px;
	color:#f8f8f8;
	box-shadow:0 0 15px #464646;
}
.pagination ul li a:hover{
	color:orange;
}
.pagination .active a{
	background:#CC3300;
}
#edit{
	color:#f8f8f8;
	text-align:center;
	background:#464646;
	width:500px;
	margin:70px auto;
	padding:20px;
	border-radius:10px;
	box-shadow:0 0 30px #000;
}
#edit form input{
	border-radius:10px;
	border:1px solid #464646;
	text-align:center;
	height:20px;
	margin-bottom:20px;
}
#edit form textarea{
	border-radius:10px;
	text-align:center;
}
#edit form label{
	width:100%;
	margin:0 auto;
}
#edit h1 a,h2 a{
	color:#f8f8f8;
	text-decoration:none;
}
#edit h1 a:hover{
	color:orange;
}
#edit h2 a:hover{
	color:orange;
}
.expired{
	background:#FFFF99 !important;
}
.arkiva{
	background:#336699 !important;
	color:#f8f8f8;
}
.arkiva a{
	color:#f8f8f8;
}
.disabled{
	background:#FF6666 !important;
}
#te-dhenat{
	margin-top:70px;
	margin-left:40px;
	font-size:1.3em;
	width:1000px;
	min-height:150px;
	height:auto;
	border-radius:10px;
}
#te-dhenat h2{
	background:#464646;
	padding:10px;
	color:#f8f8f8;
	border-radius:10px;
}
#te-dhenat #group-one{
	float:left;
	padding-left:10px;
}
#te-dhenat #group-two{
	float:right;
	padding-right:10px;
}
#te-dhenat span{
	font-weight:bold;
}
.paglink{
	color:#f8f8f8;
	float:right;
	font-size:0.4em;
	padding-right:20px;
}
.paglink:hover{
	color:orange;
}
.hidden{
	display:none;
}

#dite , #pauze , #cmimiI , #vlera , #tv , #zbritja , #shuma, #cmimiProv, #hyra, #dala, #hyraVlera, #pershkrimi, #furnizuesi,#furnizuesiDala, #dalaVlera, #pershkrimiDala, #shpenzuesi, #fatura{
	margin-bottom:10px;
}
#refresh{
	color:#f8f8f8; 
	margin:20px 0 0 50px;
	background:#464646; 
	padding:10px; 
	border:none;
	transition:background 1s;
	-moz-transition:background 1s;
	-o-transition:background 1s;	
	-webkit-transition:background 1s;
}
#refresh:hover{
	background:#aaa;
}
#skadimi{
	overflow:hidden;
	height:250px;
	padding:10px;
	background:#464646;
	color:#f8f8f8;
}
#back{
	background:#464646;
	color:#E0E0E0;
	border:outset #464646;
	letter-spacing:1px;
	font-size:0.9em;
	padding:5px;
	margin-right:10px;
}
#back:hover{
	color:#fff;
	border:inset #464646;
}
#back:active{
	color:orange;
}
caption{text-align:left;margin-bottom:10px;}

.current{
	box-shadow: 0 0 15px grey;
	background:#D8D8D8 ;
}
#shitja-interface{
	width:100%;
	height:800px;
}
#shitja-main{
	min-height:100%;
	width:100%;
	float:left;
}
#top-shitja{
	height:50px;
	width:100%;
	background:#464646;
}
#top-shitja a{
	font-size:0.8em;
	font-weight:bold;
	padding:10px;
	text-decoration:none;
	margin-left:20px;
}
#shitja-aside{
	background:#464646;
	width:300px;
	min-height:100%;
	float:left;
}
#shitja-aside h2{
	color:#f8f8f8;
	text-align:left;
	padding:50px 0 10px 20px;
}
#shitja-aside label{
	color:#f8f8f8;
}
#shitja-aside form, #shitja-aside p{
	padding-left:20px;
}
#shitja-table{
	font-size:0.8em;
	margin:50px auto;
	color:#404040;
	box-shadow:0 0 15px #464646;
	width:720px;
	clear:both;
}
#shitja-table tr:nth-child(odd){
	background:#C0C0C0;
}
#shitja-table th{
	background:#464646;
	color:#f8f8f8;
}
#shitja-table, tr, th, td{
	border:1px solid grey;
	border-collapse:collapse;
	text-align:center;
	padding:2px;
}
#kerkoProdukt{
	position: fixed;
	top: 89px;
	left: 50%;
	color: #f8f8f8;
	z-index: 1;
	min-height: 45px;
	min-width: 210px;
	border-radius:10px;
	box-shadow:0 0 10px #000;
	background: #464646;
	font-size:0.8em;
	font-weight:bold;
	text-align:center;
}
#kerkoProdukt form{
	margin-top:10px;
}
#kerkoProdukt form input[type="text"]{
	width:120px;
}
#kerkoProdukt form input, label{
	float:left;
	margin-left:10px;
	margin-right:10px;
}
#submitButton{
	width:50px; 
	height:25px;
	float:right;
}
#user-aside{
	background:#464646;
	width:300px;
	min-height:800px;
}
#user-menu{
	width:100%;
	height:100%;
}
#user-menu ul{
	padding-top:70px;
	list-style:none;
}
#user-menu ul li{
	display:block;
}
#user-menu ul li a{
	text-decoration:none;
	color:#f8f8f8;
	display:block;
	width:99%;
	height:20px;
	font-size:1.2em;
	letter-spacing:2px;
	font-weight:bold;
	text-align:center;
	border:1px solid #505050;
	padding:10px 0;
}
#user-menu ul li a:hover{
	background:#505050;
	color:orange;
}
#inhere td{
	background:#fff;
	padding:0;
}
#inhere td input,#inhere td select{border:none;}
#edit form input[type="button"] {
	border-radius: 0px;
	border:none;
	text-align: center;
	height:auto;
	padding:5px;
	background:#707070 ;
	display:inline;
}
#edit table{
	margin: 20px auto;
}

